.App{
text-align: center;
  font-size: 25px;
}

.clock{
margin-top: 20px;
  display:flex;
  margin-bottom: 30px;
}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds{
  flex:1;
  border: 1px solid gray;
}

.date{
  font-size: 1.3em;
}

.heading{
  background-color: #0abde3;
}
 div{
  background-color: #feca57;
}

.clock > div:hover{
  transform: scale(1.10);
  transition: all 0.5s ease-in-out;
  animation-name: 'font-change';
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

@keyframes font-change {

  0% {color:black}
    20% {color:purple}
      40% {color:orange}
        60% {color:green}
          80% {color:violet}
            100% {color:black}

}
